*{
    margin: 0;padding: 0;
}
body{
    min-height: 90vh;
    background-color: honeydew;
}
.grid-container{
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 24px 7px rgba(0,0,0,.04);
    background-color: #ffffff;
}
.grid-container h1{
    margin-left: 10px;
    position: relative;
    padding-left: 5px;
}
.grid-container h1::before{
    content: '';
    width: 8px;
    border-radius: 5px;
    background-color: rgb(238, 29, 29);
    height: 100%;
    position: absolute;
    top: 0;
    left: 20px;
    opacity: 0;
    animation: h1Beforemove 1s cubic-bezier(0, 0.13, 0.55, 0.96) forwards;
}
@keyframes h1Beforemove {
    0%{
        left: 20px;
        opacity: 0;
    }
    100%{
        left: -10px;
        opacity: 1;
    }
}
.grid-container .grid{
    background-color: #efefef;
    padding: 10px;margin: 10px 0;
    border-radius: 6px;
}
.container1{
    display: grid;
    grid-template-columns: repeat(3,32%);
    /* row-gap: 5px; */
    /* column-gap: 5px; */
    gap: 10px;
    grid-template-areas: 'header header header' 'main main sidebar' 'footer footer footer';
    grid-auto-flow: row; /* column | row | row dense | column dense*/
    justify-content: stretch;
}
.container1>div{
    background-color: khaki;
    height: 60px;
    padding: 10px;
}
.container1>div:nth-child(1){
    grid-area: sidebar;
    background-color: #d85353;
}

/*  */
.grid .grid-text{
    display: grid;
    grid-template-columns: repeat(auto-fill,190px);
}
.grid .grid-text span{
    background-color: #e0b8b8;
    margin: 5px;
    padding: 5px 8px;
    border-radius: 5px;
}
.txt h2{
    margin: 12px;
}
.txt h3{
    margin: 8px 0;
}
.txt>div{
    line-height: 25px;
    font-size: 16px;
    color: rgb(122, 119, 119);
}
.txt ul{
    padding-left: 30px;
}
