*{
  margin: 0;padding: 0;
}
body{
  height: 90vh;
  background-color: #fff;
}
#editor {
  margin: 0;
  height: 95%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
  display: flex;
  flex-direction: row;
  padding: 15px;
}
.live{
  background-color: #fbfbfb;
  margin: 5px 10px;
  padding: 20px;
  width: 45%;
  border-radius: 10px;
  height: 100%;
  overflow: auto;
  box-shadow: 0 5px 12px rgba(0,0,0,.1);
}
textarea {
  border: 1px solid #ddd;
  resize: none;
  outline: none;
  background-color: #f9f9f9;
  font-size: 16px;
  font-family: "Monaco", courier, monospace;
  padding: 20px;
  border-radius: 5px;
  width: 45%;
  margin: 5px;
  transition: all 0.3s ease;
  overflow: auto;
  height: 100%;
}
textarea:focus{
  border-color: rgb(0,24,240);
  box-shadow: 0 0 0 3px rgba(0,24,240,.3),inset 0 0 10px 2px rgba(0,0,0,.05);
  background-color: #fff;
}
textarea::-webkit-scrollbar,
.live::-webkit-scrollbar{
  width: 5px;
  border-radius: 5px;
}
textarea::-webkit-scrollbar-thumb,
.live::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0, .2);
  border-radius: 5px;
  width: 4px;
}
img{
  max-width: 100% !important;
}
.return{
  position: fixed;
  right: 40px;
  bottom: 20px;
}
