body {
    min-height: 95vh;
    background-color: #f0f7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: JetBrains Mono,sans-serif;
}
.link {
    background-color: #fff;
    width: 85%;
    border-radius: 10px;
    box-shadow: 2px 5px 12px 4px rgb(219, 229, 235);
    border: 1px solid #e1e1e1;
    /* overflow: hidden;padding: 20px; */
}
/* js2020 */
.js2020{
    border-bottom: 1px solid #afafaf;
    padding: 20px;
}
.js2020 ol{
    padding-left: 30px;
}
.js2020 ol li{
    margin-bottom: 10px;
}
.js2020 ol li .newName{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.js2020 ol li button{
    outline: none;
    border: 1px solid #888;
    border-radius: 3px;
    padding: 4px 8px;
    cursor: pointer;
    background-color: transparent;
    margin: 5px;
}
.js2020 ol li button:hover{
    background-color: #f3f3f3;
}
.js2020 ol li button:active{
    transform: scale(0.97);
}
.js2020 ol li table{
    border-collapse: collapse;
}
.js2020 ol li table tr td{
    border: 1px solid #ccc;
    border-collapse: separate;
    padding: 5px;
    font-size: 18px;
}
.js2020 ol li table tr td.x{
    color: red;
}
.js2020 ol li table tr td.yes{
    color: rgb(9, 165, 9);
}
.js2020 ol li table tr:nth-child(2n){
    background-color: #ddd;
}
/* js2021 */
.js2021{
    padding: 20px;
}
/* public */
pre{
    background-color: #f8f7f6;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #dedede;
    border-radius: 10px;
}
pre code{
    color: rgb(4, 4, 65);
    font-family: Roboto Mono,serif;
}

