*{
    margin: 0;
    padding: 0;
    font-family: Roboto Mono,microsoft yahei,sans-serif;
}
body {
    height: 90vh;
    background-color: #f4f4f4;
}
[v-cloak] { 
/* 
    v-cloak 配合 display: none 使用，在页面正在加载vue的时候不会显示类似于{{ undefined }}的结构。
*/
    display: none;
} 
#todo-app {
    background: #f4f4f4;
    box-shadow:  8px 8px 22px #d4d4d4,
             -8px -8px 22px #ffffff;
    /* background: repeating-linear-gradient(0deg, #fff 0, #fff 1.4%, #eee 1.4%, #eee 2%); */
    margin: 20px auto;
    padding: 20px;
    height: 90%;
    overflow: auto;
}
@media screen and (max-width: 600px){
    #todo-app{
        margin: 0;
        border-radius: 0;
    }
}
@media screen and (min-width: 601px){
    #todo-app{
        width: 90%;
        border-radius: 10px;
    }
}
::selection{
    background: #3eaf7c;
    color: white;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background-clip: padding-box; /* important */
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: #3eaf7c45;
}
#todo-app h1{
    border-bottom: 4px solid #3eaf7c45;
    color: #3eaf7c;
    text-align: center;
}
/* box */
.todo-box header{
    text-align: center;
    margin: 20px 0;
}
.todo-box header input{
    outline: none;
    height: 35px;
    width: 240px;
    font-size: 24px;
    padding: 15px 40px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    box-shadow: 0 4px 8px 2px rgba(0,0,0,.05);
}
.todo-box header input::placeholder{
    color: #3eaf7c60;
    font-size: 24px;
    font-weight: 300;
}
.todo-box header input:focus{
    box-shadow: 0 6px 16px 4px rgba(0,0,0,.1);
}
/* section */
section{
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    margin: 8px;
    font-size: 22px;
    max-height: 340px;
    overflow: auto;
}
section ul{
    list-style: none;
    margin: 0;padding: 0;
}
section .todo-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    border-radius: 5px;
}
section .todo-item:hover{
    background-color: #fafafa;
}
section .todo-item.active{
    background-color: #3eaf7c;
    color: white;
}
section .todo-item>div input{
    margin: 0 8px;
    width: 16px;height: 16px;
}
section .todo-item>div input,
section .todo-item>div label{
    cursor: pointer;
}
section .todo-item button{
    outline: none;
    border: none;
    padding: 0 8px;
    font-size: 24px;
    background-color: #dc3023;color: white;
    cursor: pointer;
    border-radius: 4px;
}
/* control */
.control{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.1);
    font-size: 20px;
}
.control .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 6px 20px;
    font-size: 16px;
}
/* button */
.control .info .clear-completed{
    outline: none;
    border: none;
    background-color: #9d2933;
    padding: 5px 8px;
    box-shadow: 0 2px 8px 2px rgba(100,0,0,.2);
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}
.control .info .clear-completed:active{
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.1);
}
/* footer */
footer{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
footer p{
    color: #aaa;
}


